<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: x-large;">Characters</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/planets']">
          <ion-icon name="planet-outline"></ion-icon>
          <ion-label>Planets</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/episodes']">
          <ion-icon name="library-outline"></ion-icon>
          <ion-label>Episodes</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list *ngFor="let character of characters" [routerLink]="['/characters', character.id]"> 
    <ion-item>
      <ion-avatar slot="start">
        <ion-img [src]="character.image"></ion-img>
      </ion-avatar>
      <ion-label>
        {{character.name}}
      </ion-label>
    </ion-item>    
  </ion-list>
</ion-content>